*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    background-color: rgb(247, 247, 247);
    max-width: 40%;
    width: 1366px;
    margin: 0 auto ;  
    margin-top: 150px;
    border-radius: 5%;
    border-bottom: solid rgb(5, 5, 5, 0.7);
    border-right: solid rgb(5, 5, 5, 0.6);
}

body{
    background-color: #DBD872;
}
header h2{
    margin-bottom: 16px;
}
form,input,button{
    padding: 4px;
}
button{
    margin-left: 5px;
}
h1{
    padding: 16px;
    margin-top: 50px;
    margin-bottom: 30px;
}
ul{
    margin-top: 60px;
    
}
ul li{
    justify-content: center;
    color: black;
    max-width: 40%;
    width: 1366px;
    height: 50%;
    margin: 0 auto;
}
a{
    text-decoration: none ;
    text-decoration: solid;
    
}
#riscado{
    text-decoration: line-through
}
li{
    
    font-size: 23px;
    padding: 10px;
}

